--extra-index-url https://download.pytorch.org/whl/cu121

PyYAML==6.0.2
numpy==1.26.4
pandas==2.2.3
scipy==1.13.3
networkx==3.2
tqdm==4.65.0
zarr==2.18.0
numcodecs==0.15.4
ome-zarr==0.9.0
filterpy==1.0.5
monai==1.4.0
torch==2.4.1+cu121
torchvision==0.19.1+cu121
torchaudio==2.4.1+cu121
geff==0.1.0
